USE [PruebaTecnicaJCP]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Clnid] [int] IDENTITY(1,1) NOT NULL,
	[ClnTpoIdnId] [int] NOT NULL,
	[ClnNumeroIdentificacion] [varchar](30) NOT NULL,
	[ClRazonSocial] [varchar](150) NOT NULL,
	[ClnDvsPltColCodigoDane] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Clnid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartamentosColombia]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartamentosColombia](
	[DptColCodigo] [int] IDENTITY(1,1) NOT NULL,
	[DptColCodigoDane] [int] NOT NULL,
	[DptColNombredelDepartamento] [varchar](100) NOT NULL,
	[DptColPaisCodigo] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DptColCodigoDane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PK_DepartamentosColombia_DptColNombredelDepartamento] UNIQUE NONCLUSTERED 
(
	[DptColNombredelDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DivisionPoliticaColombia]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DivisionPoliticaColombia](
	[DvsPltColCodigo] [int] IDENTITY(1,1) NOT NULL,
	[DvsPltColCodigoDane] [int] NOT NULL,
	[DvsPltColNombreMunicipio] [varchar](100) NOT NULL,
	[DvsPltColDepartamento] [varchar](100) NOT NULL,
	[DvsPltColDptColCodigoDane] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DvsPltColCodigoDane] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PK_DivisionPoliticaColombia_DvsPltColCodigo] UNIQUE NONCLUSTERED 
(
	[DvsPltColCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[PaisId] [smallint] IDENTITY(1,1) NOT NULL,
	[PaisCodigo] [smallint] NOT NULL,
	[PaisIso1] [varchar](5) NOT NULL,
	[PaisIso2] [varchar](3) NOT NULL,
	[PaisNombre] [varchar](100) NOT NULL,
	[PaisCapital] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaisCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PK_Pais_PaisNombre] UNIQUE NONCLUSTERED 
(
	[PaisNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoIdentificacion]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoIdentificacion](
	[TpoIdnId] [int] IDENTITY(1,1) NOT NULL,
	[TpoIdnCodigo] [varchar](10) NOT NULL,
	[TpoIdnNombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TipoIdentificacion] PRIMARY KEY CLUSTERED 
(
	[TpoIdnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Municipio] FOREIGN KEY([ClnDvsPltColCodigoDane])
REFERENCES [dbo].[DivisionPoliticaColombia] ([DvsPltColCodigoDane])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Municipio]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_TipoIdentificacion] FOREIGN KEY([ClnTpoIdnId])
REFERENCES [dbo].[TipoIdentificacion] ([TpoIdnId])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_TipoIdentificacion]
GO
ALTER TABLE [dbo].[DepartamentosColombia]  WITH CHECK ADD FOREIGN KEY([DptColPaisCodigo])
REFERENCES [dbo].[Pais] ([PaisCodigo])
GO
ALTER TABLE [dbo].[DivisionPoliticaColombia]  WITH CHECK ADD FOREIGN KEY([DvsPltColDptColCodigoDane])
REFERENCES [dbo].[DepartamentosColombia] ([DptColCodigoDane])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarCliente]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ActualizarCliente]
   
    @ClnTpoIdnId SMALLINT,
    @ClnNumeroIdentificacion VARCHAR(30),
    @ClRazonSocial VARCHAR(150),
    @ClnDvsPltColCodigoDane INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Cliente
        WHERE ClnNumeroIdentificacion = @ClnNumeroIdentificacion
    )
    BEGIN
        THROW 50004, 'El cliente no existe.', 1;
    END;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.TipoIdentificacion
        WHERE TpoIdnId = @ClnTpoIdnId
    )
    BEGIN
        THROW 50005, 'El tipo de identificación no existe.', 1;
    END;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.DivisionPoliticaColombia
        WHERE DvsPltColCodigoDane = @ClnDvsPltColCodigoDane
    )
    BEGIN
        THROW 50006, 'El municipio no existe.', 1;
    END;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Cliente
        WHERE ClnTpoIdnId = @ClnTpoIdnId
          AND ClnNumeroIdentificacion = @ClnNumeroIdentificacion
          AND ClnNumeroIdentificacion <> @ClnNumeroIdentificacion
    )
    BEGIN
        THROW 50007, 'Ya existe otro cliente con esa identificación.', 1;
    END;

    UPDATE dbo.Cliente
    SET
        ClnTpoIdnId = @ClnTpoIdnId,
        ClnNumeroIdentificacion = @ClnNumeroIdentificacion,
        ClRazonSocial = @ClRazonSocial,
        ClnDvsPltColCodigoDane = @ClnDvsPltColCodigoDane
    WHERE ClnNumeroIdentificacion = @ClnNumeroIdentificacion;

    SELECT
        Clnid,
        ClnTpoIdnId,
        ClnNumeroIdentificacion,
        ClRazonSocial,
        ClnDvsPltColCodigoDane
    FROM dbo.Cliente
    WHERE ClnNumeroIdentificacion = @ClnNumeroIdentificacion;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Crear_TipoIdentificacion]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Crear_TipoIdentificacion](

	@TpoIdnCodigo VARCHAR(10),
    @TpoIdnNombre VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO TipoIdentificacion(
	TpoIdnCodigo,
    TpoIdnNombre
	)VALUES(@TpoIdnCodigo,@TpoIdnNombre)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearCliente]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CrearCliente]
    @ClnTpoIdnId SMALLINT,
    @ClnNumeroIdentificacion VARCHAR(30),
    @ClRazonSocial VARCHAR(150),
    @ClnDvsPltColCodigoDane INT
AS
BEGIN
    SET NOCOUNT ON;

    
    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.TipoIdentificacion
        WHERE TpoIdnId = @ClnTpoIdnId
    )
    BEGIN
        THROW 50001, 'El tipo de identificación no existe.', 1;
    END;

    
    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.DivisionPoliticaColombia
        WHERE DvsPltColCodigoDane = @ClnDvsPltColCodigoDane
    )
    BEGIN
        THROW 50002, 'El municipio seleccionado no existe.', 1;
    END;

    
    IF EXISTS
    (
        SELECT 1
        FROM dbo.Cliente
        WHERE ClnTpoIdnId = @ClnTpoIdnId
          AND ClnNumeroIdentificacion = @ClnNumeroIdentificacion
    )
    BEGIN
        THROW 50003, 'Ya existe un cliente con ese número de identificación.', 1;
    END;

    INSERT INTO dbo.Cliente
    (
        ClnTpoIdnId,
        ClnNumeroIdentificacion,
        ClRazonSocial,
        ClnDvsPltColCodigoDane
    )
    VALUES
    (
        @ClnTpoIdnId,
        @ClnNumeroIdentificacion,
        @ClRazonSocial,
        @ClnDvsPltColCodigoDane
    );

    
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS Clnid;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_elimnar_cliente]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     procedure [dbo].[sp_elimnar_cliente](
@ClnNumeroIdentificacion INT
)
AS

BEGIN
	SET NOCOUNT ON;
	DELETE
	FROM Cliente
	WHERE ClnNumeroIdentificacion =@ClnNumeroIdentificacion
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientePorId]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerClientePorId]
    @ClnNumeroIdentificacion INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Clnid,
        c.ClnTpoIdnId,
        c.ClnNumeroIdentificacion,
        c.ClRazonSocial,

        p.PaisCodigo,
        p.PaisNombre,

        d.DptColCodigoDane,
        d.DptColNombredelDepartamento,

        m.DvsPltColCodigoDane,
        m.DvsPltColNombreMunicipio

    FROM dbo.Cliente c

    INNER JOIN dbo.DivisionPoliticaColombia m
        ON m.DvsPltColCodigoDane = c.ClnDvsPltColCodigoDane

    INNER JOIN dbo.DepartamentosColombia d
        ON d.DptColCodigoDane = m.DvsPltColDptColCodigoDane

    INNER JOIN dbo.Pais p
        ON p.PaisCodigo = d.DptColPaisCodigo

    WHERE c.ClnNumeroIdentificacion = @ClnNumeroIdentificacion;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerClientes]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Clnid,
        c.ClnTpoIdnId,
        c.ClnNumeroIdentificacion,
        c.ClRazonSocial,

        p.PaisCodigo,
        p.PaisNombre,

        d.DptColCodigoDane,
        d.DptColNombredelDepartamento,

        m.DvsPltColCodigoDane,
        m.DvsPltColNombreMunicipio

    FROM dbo.Cliente c

    INNER JOIN dbo.DivisionPoliticaColombia m
        ON m.DvsPltColCodigoDane =
           c.ClnDvsPltColCodigoDane

    INNER JOIN dbo.DepartamentosColombia d
        ON d.DptColCodigoDane =
           m.DvsPltColDptColCodigoDane

    INNER JOIN dbo.Pais p
        ON p.PaisCodigo =
           d.DptColPaisCodigo

    ORDER BY c.Clnid DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerDepartamentosPorPais]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerDepartamentosPorPais]
    @PaisCodigo SMALLINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        DptColCodigoDane,
        DptColNombredelDepartamento
    FROM dbo.DepartamentosColombia
    WHERE DptColPaisCodigo = @PaisCodigo
    ORDER BY DptColNombredelDepartamento;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerMunicipiosPorDepartamento]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerMunicipiosPorDepartamento]
    @DptColCodigoDane INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        DvsPltColCodigoDane,
        DvsPltColNombreMunicipio
    FROM dbo.DivisionPoliticaColombia
    WHERE DvsPltColDptColCodigoDane = @DptColCodigoDane
    ORDER BY DvsPltColNombreMunicipio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerPaises]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerPaises]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        PaisCodigo,
        PaisNombre
    FROM dbo.Pais
    ORDER BY PaisNombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tipo_Identificacion]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[sp_tipo_Identificacion]
AS
BEGIN
		SELECT
		d.TpoIdnId,
		d.TpoIdnCodigo,
		d.TpoIdnNombre
		FROM TipoIdentificacion d
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tipo_ObtenerId]    Script Date: 29/09/2026 11:33:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     procedure [dbo].[sp_tipo_ObtenerId](

	@TpoIdnId int
)
AS
BEGIN
		SELECT
		d.TpoIdnId,
		d.TpoIdnCodigo,
		d.TpoIdnNombre
		FROM TipoIdentificacion d
		where d.TpoIdnId = @TpoIdnId

END;
GO
